header							/*caractéristiques de l'entête*/
{
	color : rgb(0, 0, 0);				/*couleur de la police*/
	background-color : rgb(80, 120, 255);	/*couleur de fond*/
	border : 2px, black, solid;					/* taille en pixels, couleur et syle de la bordure*/
	border-radius : 4px;					/*bordure arrondie*/
	padding : 15px, 15px, 15px, 15px;			/*magres internes*/
	margin-left : 15px;						/*marge externe gauche*/
	margin-right : 15px;					/*marge externe droite*/
	font-size : 60px;						/*taille de la police*/
	font-weight : bold;						/*texte en gras*/
	text-align : center;					/*texte centré*/
}

nav
{
	float : left;								/* le menu flottera à gauche*/
}

body
{
	background-image:url("fondEcran.png");
}

p		/* caractéristiques des paragraphes*/
{
	color:blue;					/*les paragraphes seront bleus*/
	text-align:right;			/*les paragraphes seront alignés à droite*/
	font-style:italic;			/*les paragraphes seront en italique*/
	font-size:30px; 			/*taille de la police des paragraphes*/
}

h1		/* caractéristiques des titres h1*/
{
	color:rgb(255,255,0);					/*les titres h1 seront rouges */
	text-align:center;			/*les titres h1 seront centrés*/
	font-weight:bold;			/*les titres h1 seront en gras*/
	text-decoration:underline;	/*les titres h1 seront soulignés*/
	font-size:70px; 			/*taille de la police des titres h1*/
}

h2		/* caractéristiques des titres h2*/
{
	color:blue;					/*les titres h2 seront bleus */
	font-weight:bold;			/*les titres h2 seront en gras*/
	text-decoration:underline;	/*les titres h2 seront soulignés*/
	font-size:40px; 			/*taille de la police des titres h1*/
}

section 							/* Balise pour le contenu principal de la page */
{
	background-color : rgb(200,80,200); 		/* couleur de fond */
	border : 2px black solid; 				/* taille en pixels, couleur, styles de la bordure */
	border-radius : 4px; 					/* bordure arrondie */
	padding : 4px 4px 4px 4px; 				/* marges internes */
	margin-left : 700px; 					/* marge externe gauche */
	margin-right : 100px;					/* marge externe droite*/
	margin-bottom : 10px; 				/* marge externe basse */
	min-width : 200px; 					/* largeur minimum du bloc */
	min-height : 80px; 					/* hauteur minimum du bloc */
	font-size:30px; 				/*taille de la police */
}



li{
	color:blue;					/*les titres h2 seront bleus */
	font-weight:bold;			/*les titres h2 seront en gras*/
	font-size:25px; 			/*taille de la police des titres h1*/
}

a 								/* Style des liens */
{
	color : rgb(50,50,255); 			/* Liens en bleu */
	font-weight:bold;
}

a:hover 						/* Style des liens quand on passe la souris dessus */
{
	color:rgb(250,100,150); 			/* Liens en rouge quand on passe la souris dessus */
}



footer
{
	color : rgb(0, 0, 0);				/*couleur de la police*/
	background-color : rgb(150, 100, 255);	/*couleur de fond*/
	border : 2px, black, solid;					/* taille en pixels, couleur et syle de la bordure*/
	border-radius : 4px;					/*bordure arrondie*/
	padding : 15px, 15px, 15px, 15px;			/*magres internes*/
	margin-left : 15px;						/*marge externe gauche*/
	margin-right : 15px;					/*marge externe droite*/
	font-size : 30px;						/*taille de la police*/
	font-weight : bold;						/*texte en gras*/
	text-align : center;					/*texte centré*/
	position : absolute;					/*position absolue et non relative aux autres éléments de la page*/
	bottom : 0;								/* hauteur = 0*/
	left : 0;								/*le pied de page démarre complétement à gauche de la page*/
	right : 0;								/*le pied de page se termine complétement à droite de la page*/
}
	

